*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #131c22;
}

h1 {
  text-align:left;
  width:400px;
  margin:auto ;
  padding-top:50px;
  color: white;
}

.input-container {
  width:400px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px auto 0;
  background-color:#34b4ec;
}

.input-container input {
  border:none;
  flex-grow:1;
  padding:10px;
  font-size:1.3rem;
}

.input-container .fa-plus {
  padding:10px;
  font-size:1.5rem;
}

.input-container .fa-plus:active {
  transform:scale(1.2);
}

ul .task-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  width: 400px;
  font-size: 1.3rem;
  background-color: #1c536c;
  color: white;
}

.task-value {
  flex: 1;
  padding: 0 5px;
}

input[type="checkbox"] {
  height: 30px;
  width: 40px;
  margin-right:5px;
  accent-color: green;
}

.fa-trash {
  margin-left: 5px;
  color: red;
}

.fa-trash:hover {
  transform: scale(1.1);
}

li:nth-child(even) {
  background-color:#5c90ac;
}

li:nth-child(odd) {
  background-color:#1c536c;
}
